<div class="page-container">
  <!--
  <h1 class="main-header">Edit Product</h1>
  <div class="main-content-container form-container">
    <div id="form-edit-product">
      <div class="row">
        <div class="input-group mb-3 col">
          <label for="inputPartNumber" class="col-sm-6 col-form-label">Part Number</label>
          <input type="text" class="form-control" placeholder="{{product.partNumber}}" aria-label="PartNumber">
        </div>
        <div class="input-group mb-3 col">
          <label for="inputName" class="col-sm-6 col-form-label">Name</label>
          <input type="text" class="form-control" placeholder="{{product.name}}" aria-label="Name">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col">
          <label for="inputPrice" class="col-sm-6 col-form-label">Price</label>
          <input type="text" class="form-control" placeholder="{{product.price}}" aria-label="Price">
        </div>
        <div class="input-group mb-3 col">
          <label for="inputUnit" class="col-sm-6 col-form-label">Units</label>
          <input type="text" class="form-control" placeholder="{{product.unit}}" aria-label="Unit">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col">
          <label for="inputPhotopath" class="col-sm-6 col-form-label">Photopath</label>
          <input type="text" class="form-control" placeholder="{{product.photopath}}" aria-label="Photopath">
        </div>
        <div class="input-group mb-3 col">
          <label for="inputVendorId" class="col-sm-6 col-form-label">Vendor Id</label>
          <input type="text" class="form-control" placeholder="{{product.vendor.id}}" aria-label="VendorId">
        </div>
      </div>
    </div>
    <div class="save-edit">
      <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
  </div>
  -->
</div>
