<div class="page-container">
  <h1 class="main-header">Astro Home</h1>
  <div id="main-content-container-home" class="main-content-container about-cont" style="white-space:break-spaces;">

    <h2 style="margin-top: 55px;">Astro PRS was conceived of, designed, and built by the work of one man named Steven Peterson.</h2>
    <p>


      Steven has always had his eyes toward the sky as space travel is the final frontier for mankind. Unable to achieve
      his dream as the first astronaut to Mars due to a debilitating fear of heights, he has worked tirelessly to bring
      space to Earth. In his mission to provide otherworldly services to the masses, he has tested the limits of
      computer programming to create Astro PRS and bring information from around not just the United States, not just
      internaationally, but from all over the universe to create the largest and most comprehensive database ever seen.
    </p>

  </div>
</div>
