


.detail-card-content {
  border: 3px solid yellow;
}



#card-detail-user{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

#card-detail-vendor{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

.card-body > ul {
  text-align: left;
}

.card-body > h5 {
  font-variant: small-caps;
  font-family: var(--primary-font-sub);
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--bs-primary);
}
.card-detail{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}
