<div class="page-container">
  <h1 class="main-header">Create Request</h1>
  <div class="main-content-container form-container">
    <div class="form-create">
      <div class="row">
        <div class="input-group mb-3 col">
          <label for="inputDescription" class="col-sm-6 col-form-label">Description</label>
          <input type="text" class="form-control" placeholder="Description" aria-label="Description">
        </div>
        <div class="input-group mb-3 col">
          <label for="inputJustification" class="col-sm-6 col-form-label">Justification</label>
          <input type="text" class="form-control" placeholder="Justification" aria-label="Justification">
        </div>
        <div class="input-group mb-3 col">
          <label for="inputDeliveryMode" class="col-sm-6 col-form-label">Delivery Mode</label>
          <input type="text" class="form-control" placeholder="Delivery Mode" aria-label="DeliveryMode">
        </div>
      </div>
    </div>
    <div class="button-save-create">
      <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
  </div>
</div>
