#form-create-user-container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

#form-create-user{
  grid-column: 5/95;
  grid-row: 15/75;
}
