:host {
  margin: 0;
}

/*
.component-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/images/bg-3.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
*/

.testing{
  border: 1px solid white;
}


#home-header {
  position: relative;
  grid-row: 10/25;
  grid-column: 25/60;
  text-align: center;
  font-weight: 500;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #dde4e3;
  color: #78cfc7;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
main{
  position: relative;
  grid-row: 25/75;
  grid-column: 15/75;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main > p {
  padding: 5%;
  text-align: center;
  color: var(--bs-yellow);
}



