:host {
  margin: 0;
}

/*
.component-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/images/bg-3.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
*/






