<div class="main-container">
  <table class="list-table table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Part Number</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Unit</th>
        <th scope="col">Photo</th>
        <th scope="col">Vendor Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>request id 1</td>
        <td>request part number 1</td>
        <td>request name 1</td>
        <td>request price 1</td>
        <td>request unit 1</td>
        <td>request photo 1</td>
        <td>request vendor name 1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>request id 2</td>
        <td>request part number 2</td>
        <td>request name 2</td>
        <td>request price 2</td>
        <td>request unit 2</td>
        <td>request photo 2</td>
        <td>request vendor name 2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>request id 3</td>
        <td>request part number 3</td>
        <td>request name 3</td>
        <td>request price 3</td>
        <td>request unit 3</td>
        <td>request photo 3</td>
        <td>request vendor name 3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>request id 4</td>
        <td>request part number 4</td>
        <td>request name 4</td>
        <td>request price 4</td>
        <td>request unit 4</td>
        <td>request photo 4</td>
        <td>request vendor name 4</td>
      </tr>
    </tbody>
  </table>
</div>
