<div class="page-container">
  <h1 class="main-header">User Edit</h1>
  <app-warning-message id="warning" *ngIf="showWarning" [warningMessage]="warningMessage"></app-warning-message>
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <div class="card-detail-container" id="card-detail-user">
    <div class="card text-white bg-dark mb-3" style="width: 75rem;">
      <div class="card-body">
        <h5>{{user.lastname}}, {{user.firstname}}</h5>
        <div class="container-fluid" *ngIf="showForm">
          <div class="row">
            <div class="d-flex justify-content-end col">
              <label for="firstName">First Name: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              <input type="text" [(ngModel)]="user.firstname" placeholder="First Name">
            </div>
            <div class="d-flex justify-content-end col">
              <label>Last Name: </label>
            </div>
            <div class="d-flex justify-content-start col" style="align-items: center;">
              <input type="text" [(ngModel)]="user.lastname">
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col">
              <label>Phone Number: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              <input type="text" [(ngModel)]="user.phone">
            </div>
            <div class="d-flex justify-content-end col ">
              <label>Email:</label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              <input [(ngModel)]="user.email" placeholder="something.something@something.com" type="text">
            </div>
          </div>
          <div class="row" style="width: 50%;">
            <div class="d-flex justify-content-end col ">
              <label>Username:</label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: left; justify-content: left;">
              <input [(ngModel)]="user.username">
            </div>
          </div>
          <div class="row detail-check">
            <div class="form-check">
              <input [(ngModel)]="user.isAdmin" class="form-check-input check-style" type="checkbox" enabled>
              <label>Admin</label>
            </div>
            <div class="form-check">
              <input class="form-check-input check-style" type="checkbox" [(ngModel)]="user.isReviewer">
              <label> Reviewer</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="save-button">
            <button type="submit" class="btn btn-outline-warning" (click)="updateUser()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
