<div class="page-container">
  <h1 class="main-header">ACCESS DENIED</h1>
  <app-warning-message id="warning" *ngIf="showWarning" [warningMessage]="warningMessage" style="margin-top: 15%; border: 5px dashed yellow"></app-warning-message>
  <div id="main-content-container-home" class="main-content-container">
    <p>
      ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS
      UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED
      ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS
      UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED
      ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS
      UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED ACCESS UNAUTHORIZED
    </p>
  </div>
</div>
