<div class="page-container">
  <h1 class="main-header">Request Detail</h1>
  <div class="request-detail-container">
    <div class="row">
      <div class="col">
        <app-detail-card style="height: 75%" [request]="request"></app-detail-card>
        <app-detail-buttons [id]="id" [url]="url"></app-detail-buttons>
      </div>
      <div class="col request-line-container">
        <app-list-table [requestlines]="visibleList" [isRequestLines]="isRequestLines"></app-list-table>
      </div>
    </div>
  </div>
</div>
