<div class="page-container">
  <h1 class="main-header">Product Detail</h1>
  <div class="card-detail-container" id="card-detail-product">
    <div class="card text-white bg-dark mb-3" style="width: 75rem;">
      <div class="card-body">
        <h5>{{product.name}}</h5>
        <div class="container-fluid">
          <div class="row">
            <div class="d-flex justify-content-end col">
              <label for="productName">Part Number: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              {{product.partNumber}}
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col">
              <label for="productName">Product Name: </label>
            </div>
            <div class="d-flex justify-content-start col" style="align-items: center;">
              {{product.name}}
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col">
              <label for="productName">Price: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              {{product.price}}
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col ">
              <label for="productName">Unit: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              {{product.unit}}
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col ">
              <label for="productName">Photopath: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              {{product.photopath}}
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-end col ">
              <label for="productName">Vendor Name: </label>
            </div>
            <div class="d-flex justify-content-start  col" style="align-items: center;">
              {{product.vendor.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-group" id="button-group-detail-product">
    <a role="button" class="btn btn-outline-info" href="product/edit/{{product.id}}">Edit Product</a>
    <button type="button" class="btn btn-outline-info" href="product/delete">Delete Product</button>
  </div>
</div>
