<div class="main-container">
  <table class="list-table table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
        <th scope="col">Justification</th>
        <th scope="col">Submitted Date</th>
        <th scope="col">Date Needed</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Delivery Mode</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Detail</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>request id 1</td>
        <td>request description 1</td>
        <td>request justification 1</td>
        <td>request submitted date 1</td>
        <td>request date needed 1</td>
        <td>request delivery date 1</td>
        <td>request delivery mode 1</td>
        <td>request status 1</td>
        <td>request total 1</td>
        <td>
          <a class="icon-link icon-link-hover" href="#">
            <i class="bi bi-zoom-in"></i>
          </a>
        </td>
        <td>
          <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>request id 2</td>
        <td>request description 2</td>
        <td>request justification 2</td>
        <td>request submitted date 2</td>
        <td>request date needed 2</td>
        <td>request delivery date 2</td>
        <td>request delivery mode 2</td>
        <td>request status 2</td>
        <td>request total 2</td>
        <td>
          <a class="icon-link icon-link-hover" href="#">
            <i class="bi bi-zoom-in"></i>
          </a>
        </td>
        <td>
          <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>request id 3</td>
        <td>request description 3</td>
        <td>request justification 3</td>
        <td>request submitted date 3</td>
        <td>request date needed 3</td>
        <td>request delivery date 3</td>
        <td>request delivery mode 3</td>
        <td>request status 3</td>
        <td>request total 3</td>
        <td>
          <a class="icon-link icon-link-hover" href="#">
            <i class="bi bi-zoom-in"></i>
          </a>
        </td>
        <td>
          <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>request id 4</td>
        <td>request description 4</td>
        <td>request justification 4</td>
        <td>request submitted date 4</td>
        <td>request date needed 4</td>
        <td>request delivery date 4</td>
        <td>request delivery mode 4</td>
        <td>request status 4</td>
        <td>request total 4</td>
        <td>
          <a class="icon-link icon-link-hover" href="#">
            <i class="bi bi-zoom-in"></i>
          </a>
        </td>
        <td>
          <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
