<div class="page-container">
  <h1 class="main-header">{{pageTitle}}</h1>
  <div class="main-content-container" id="user-table-list">
    <div *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
    <app-list-table *ngIf="!loading" [users]="visibleUsers"></app-list-table>
    <div class="button-group-create-delete">
      <a role="button" class="btn btn-outline-info" href="user/create">Create User</a>
      <button type="button" class="btn btn-outline-info" (click) = "onDeleteUser()">Delete User</button>
    </div>
  </div>
</div>
