<div class="main-container">
  <div class="detail-edit-bar">
    <div class="detail-edit-icon">
      <a class="icon-link" href="#">
        <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
        Icon link
      </a>
    </div>
    <div class="detail-edit-icon">
      <a class="icon-link" href="#">
        <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
        Icon link
      </a>
    </div>
  </div>
  <table class="list-table table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email Address</th>
        <th scope="col">Admin</th>
        <th scope="col">Reviewer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>user id 1</td>
        <td>user first name 1</td>
        <td>user last name 1</td>
        <td>user username 1</td>
        <td>user phone number 1</td>
        <td>user email 1</td>
        <td>user admin 1</td>
        <td>user reviewer 1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>user id 2</td>
        <td>user first name 2</td>
        <td>user last name 2</td>
        <td>user username 2</td>
        <td>user phone number 2</td>
        <td>user email 2</td>
        <td>user admin 2</td>
        <td>user reviewer 2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>user id 3</td>
        <td>user first name 3</td>
        <td>user last name 3</td>
        <td>user username 3</td>
        <td>user phone number 3</td>
        <td>user email 3</td>
        <td>user admin 3</td>
        <td>user reviewer 3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>user id 4</td>
        <td>user first name 4</td>
        <td>user last name 4</td>
        <td>user username 4</td>
        <td>user phone number 4</td>
        <td>user email 4</td>
        <td>user admin 4</td>
        <td>user reviewer 4</td>
      </tr>
    </tbody>
  </table>
</div>
