/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --primary-font: 'Cinzel Decorative', serif;
  --primary-font-sub: 'Cinzel', serif;
  --secondary-font: 'Raleway', serif;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.page-container{
  display: none;

}

@media (min-width: 1400px) {
  .page-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    background-image: url('src/assets/images/bg-6.png');
    background-size: 100% 100%;
    background-position: center;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.main-content-container {
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: black;
}

.button-save-create {
  grid-row: 75;
  grid-column: 50;
}

.form-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

.form-create-product {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

#form-user-container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

#form-edit-user{
  grid-column: 5/95;
  grid-row: 15/75;
}

#form-edit-product{
  grid-column: 5/95;
  grid-row: 15/75;
}

.form-edit{
  grid-column: 1/95;
  grid-row: 15/75;
}


.form-create {
  grid-column: 5/95;
  grid-row: 15/75;
}

#save-edit-user {
  grid-row: 75;
  grid-column: 50;
}

.save-edit {
  grid-row: 75;
  grid-column: 50;
}

#form-create-product{
  grid-column: 5/95;
  grid-row: 15/75;
}

#table-list-product{
  grid-row: 1/90;
  grid-column: 5/95;
}

#container-list-vendor{
  grid-row: 20/95;
  grid-column: 5/95;

}






.detail-edit-bar{
  position: relative;
  grid-row:23/25;
  grid-column: 25/75;
  display: flex;
  justify-content: flex-start;
}

.detail-edit-icon{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 9vh;
}

.testing{
  border: 1px solid yellow;
}


.main-header {
  position: relative;
  grid-row: 10/25;
  grid-column: 25/75;
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #dde4e3;
  color: #78cfc7;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-variant: small-caps;
}

.button-save-create {
  grid-row: 75;
  grid-column: 50;
}

.button-group-create-delete {
  grid-row: 75/85;
  grid-column: 25/75;
  display: flex;
  justify-content: space-evenly;
}

.button-group{
  display: flex;
  justify-content: space-evenly;
}

#button-group-detail-product{
  grid-row: 75/85;
  grid-column: 25/75;
}

#button-group-detail-user{
  grid-row: 75/85;
  grid-column: 25/75;
}

#button-group-detail-vendor{
  grid-row: 75/85;
  grid-column: 25/75;
}

.button-group-detail{
  grid-row: 75/85;
  grid-column: 25/75;
}

.detail-check {
  position: relative;
  width: 0px;
}

.detail-card-content {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  height: 30vh;

}

.card-detail-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  border: 1px double var(--bs-yellow);
}

.label-detail {
  text-align: right;
}

.col-detail{
  text-align: left;
}

.card-detail{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

#card-detail-product{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

#card-detail-user{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

#card-detail-vendor{
  grid-row: 25/75;
  grid-column: 25/75;
  background-color: var(--bs-dark);
}

label {
  color: var(--bs-yellow);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.check-label {
  color: var(--bs-yellow);
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  display: flex;
  justify-content: left;
}

.detail-check {
  width: 15%;
  display: inline-block;
  justify-content: center;
}

#form-create-user-container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

#form-create-user{
  grid-column: 5/95;
  grid-row: 15/75;
}

#save-button {
  grid-row: 75;
  grid-column: 50;
}

#form-create-vendor-container{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);
  background-color: #0D6EFD66;
}

#form-create-vendor{
  grid-column: 5/95;
  grid-row: 15/75;
}

#save-button-vendor-create {
  grid-row: 75;
  grid-column: 50;
}



.check-style{
  width: 20px;
  height: 20px;
  display: flex;
  justify-self: center;


}

.delivery-dropdown {
  position: relative;
  justify-content: center;
}

button{
  font-family: var(--secondary-font);
  font-weight: 600;
}

p {
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

div {
  color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

h1{
  font-family: var(--primary-font);
}

a {
  font-family: var(--secondary-font);
}

.list-group > li {
  background-color: var(--bs-dark);
  color: var(--bs-yellow);
}

.card-body > ul {
  text-align: left;
}

.card-body > h5 {
  font-variant: small-caps;
  font-family: var(--primary-font-sub);
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--bs-primary);
}


