/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --primary-font: 'Cinzel Decorative', serif;
  --primary-font-sub: 'Cinzel', serif;
  --secondary-font: 'Raleway', serif;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-dark-trans: #2125294b;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-gradient-blue: linear-gradient(90deg, rgba(99, 211, 226, 0.274), rgba(46, 0, 250, 0.342));
}
/*
.page-container{
  display: none;

}
*/

/* @media (min-width: 1400px) { */
  .page-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    background-image: url('src/assets/images/bg-6.png');
    background-size: 100% 100%;
    background-position: center;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
/*}*/

.main-content-container {
  grid-row: 20/85;
  grid-column: 5/95;

}

.detail-card-container{
  grid-row: 25/75;
  grid-column: 20/80;
}

/*
.request-line-container{
  grid-row: 25/75;
  grid-column: 20/80;
}
*/

.request-detail-container{
  grid-row: 25/40;
  grid-column: 1/99;
  height: 75%;
  position: relative;
  margin-bottom: 10%;
}
.request-detail-container > p {
  font-size: .5rem;
}
.request-detail-container > label {
  font-size: .5rem;
}



.form-edit-container{
  grid-row: 25/75;
  grid-column: 20/80;
  border: 3px solid yellow;
  background-color: var(--bs-dark);
}

.h2-card-and-form{
  color: var(--bs-blue);
  text-shadow: 6px 6px 10px var(--bs-gray);
  font-weight: 800;
  font-family: var(--primary-font-sub);
  font-size: 3rem;
  font-variant: small-caps;
}




.form-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  align-items: center;
  justify-content: center;
  border: 10px double var(--bs-purple);

}

.form-edit{
  grid-column: 1/95;
  grid-row: 15/75;
}


.form-create {
  grid-column: 5/95;
  grid-row: 15/75;
}









.testing{
  border: 1px solid yellow;
}


.main-header {
  position: relative;
  grid-row: 1/25;
  grid-column: 25/75;
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #dde4e3;
  color: #78cfc7;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}


#user-table-list{
  position: relative;
  grid-row: 29/85;
}



label {
  color: var(--bs-yellow);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.check-label {
  color: var(--bs-yellow);
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  display: flex;
  justify-content: left;
}

.detail-check {
  width: 15%;
  display: inline-block;
  justify-content: center;
}


.check-style{
  width: 20px;
  height: 20px;
  display: flex;
  justify-self: center;
}

.delivery-dropdown {
  position: relative;
  justify-content: center;
}

button{
  font-family: var(--secondary-font);
  font-weight: 600;
}

p {
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

div {
  color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

h1, h2{
  font-family: var(--primary-font);
}
h1{
  font-variant: small-caps;
  font-size: 4rem;
  font-weight: 700;
  color: var(--bs-yellow);
  text-shadow: 6px 6px 10px var(--bs-danger);

}

a {
  font-family: var(--secondary-font);
}

.list-group > li {
  background-color: var(--bs-dark);
  color: var(--bs-yellow);
}

