/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --primary-font: 'Cinzel Decorative', serif;
  --secondary-font: 'Raleway', serif;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.main-container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  background-image: url('src/assets/images/bg-6.png');
  background-size: 100% 100%;
  background-position: center;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.testing{
  border: 1px solid yellow;
}


#main-header {
  position: relative;
  grid-row: 10/25;
  grid-column: 25/75;
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #dde4e3;
  color: #78cfc7;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
main{
  position: relative;
  grid-row: 25/75;
  grid-column: 15/75;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main > p {
  padding: 5%;
  text-align: center;
  color: var(--bs-yellow);
}


p {
  color: white;
  font-family: var(--secondary-font);
}

h1{
  font-family: var(--primary-font);
}

a {
  font-family: var(--secondary-font);
}

