<div class="fixed-table-container fixed-height">
  <table class="table table-sm table-dark table-striped table-bordered border-gray table-hover align-middle"
    style="min-height: fit-content;">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">
          <p>{{header}}</p>
        </th>
        <th>
          <p>Detail</p>
        </th>
        <th>
          <p>Edit</p>
        </th>
        <th data-checkbox="true">
          <p>Delete</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of tableObjects; let i = index;" class id="test">
        <ng-container [ngSwitch]="activeObjectType">
          <ng-container *ngSwitchCase="'USER'">
            <td>
              <p>{{ object.firstname }}</p>
            </td>
            <td>
              <p>{{ object.lastname }}</p>
            </td>
            <td>
              <p>{{ object.username }}</p>
            </td>
            <td>
              <p>{{ object.phone }}</p>
            </td>
            <td>
              <p>{{ object.email }}</p>
            </td>
            <td>
              <p>{{ object.isReviewer }}</p>
            </td>
            <td>
              <p>{{ object.isAdmin }}</p>
            </td>
            <td>
              <a class="icon-link icon-link-hover" href="user/detail/{{object.id}}">
                <i class="bi bi-zoom-in"></i>
              </a>
            </td>
            <td>
              <a class="icon-link icon-link-hover" href="user/edit/{{object.id}}">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
            <td class="bs-checkbox " style="width: 36px;">
              <label>
                <input name="btSelectItem" type="checkbox" (change)="onCheckboxChange(object.id)">
                <span></span>
              </label>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'VENDOR'">
            <td>{{ object.code }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.address }}</td>
            <td>{{ object.city }}</td>
            <td>{{ object.state }}</td>
            <td>{{ object.zip }}</td>
            <td>{{ object.phone }}</td>
            <td>{{ object.email }}</td>
            <td>
              <a class="icon-link icon-link-hover" href="/vendor/detail/{{object.id}}">
                <i class="bi bi-zoom-in"></i>
              </a>
            </td>
            <td>
              <a class="icon-link icon-link-hover" href="vendor/edit/{{object.id}}">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
            <td class="bs-checkbox " style="width: 36px;">
              <label>
                <input name="btSelectItem" type="checkbox" (change)="onCheckboxChange(object.id)">
                <span></span>
              </label>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'PRODUCT'">
            <td>{{ object.partNumber }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.unit }}</td>
            <td>{{ object.photopath }}</td>
            <td>{{ object.vendorId }}</td>
            <td>
              <a class="icon-link icon-link-hover" href="product/detail/{{object.id}}">
                <i class="bi bi-zoom-in"></i>
              </a>
            </td>
            <td>
              <a class="icon-link icon-link-hover" href="product/edit/{{object.id}}">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
            <td class="bs-checkbox " style="width: 36px;">
              <label>
                <input name="btSelectItem" type="checkbox" (change)="onCheckboxChange(object.id)">
                <span></span>
              </label>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'REQUEST'">
            <td>{{ object.description }}</td>
            <td>{{ object.justification }}</td>
            <td>{{ object.deliveryMode }}</td>
            <td>{{ object.dateNeeded }}</td>
            <td>{{ object.submittedDate }}</td>
            <td>{{ object.total }}</td>
            <td>
              <a class="icon-link icon-link-hover" href="request/detail/{{object.id}}">
                <i class="bi bi-zoom-in"></i>
              </a>
            </td>
            <td>
              <a class="icon-link icon-link-hover" href="request/edit/{{object.id}}">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
            <td class="bs-checkbox " style="width: 36px;">
              <label>
                <input name="btSelectItem" type="checkbox" (change)="onCheckboxChange(object.id)">
                <span></span>
              </label>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'REVIEW'">
            <td>{{ object.description }}</td>
            <td>{{ object.justification }}</td>
            <td>{{ object.submittedDate }}</td>
            <td>{{ object.dateNeeded }}</td>
            <td>{{ object.deliveryMode }}</td>
            <td>{{ object.status }}</td>
            <td>{{ object.total }}</td>
            <td>
              <a class="icon-link icon-link-hover" href="request/detail/{{object.id}}">
                Review<i class="bi bi-zoom-in"></i>
              </a>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'REQUEST_LINE'">
            <td>{{ object.id }}</td>
            <td>{{ object.request.id }}</td>
            <td>{{ object.product.id }}</td>
            <td>{{ object.quantity }}</td>
            <td>
              <a class="icon-link icon-link-hover" href="request/detail/{{object.id}}">
                Review<i class="bi bi-zoom-in"></i>
              </a>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
