<div class="page-container">
  <h1 class="main-header">Astro Home</h1>
  <div id="main-content-container-home" class="main-content-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates
      adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates
      adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates
    </p>
  </div>
</div>
