<div class="page-container">
  <h1 class="main-header">Astro Home</h1>
  <div id="main-content-container-home" class="main-content-container home-text-cont">
    <div class="col">
      <h1>Forget the next level...</h1>
      <h1>Take your business out of this world!</h1>
      <p>
        Streamline your purchase order process with Astro PRS!

        Astro PRS is a unique and exciting platform that allows you to:
        - Speed up purchasing
        - Improve internal communication, and
        - Minimize financial risk

        At Astro PRS, we have access to national, international, and universal vendors to give us the largest, most
        comprehensive, and complete database the universe has ever seen!

        Head over to our menu to begin the journey and rocket toward purchasing excellence

      </p>
    </div>
  </div>
</div>
