
<!--
<div class="component-content">
  <app-menu class="menu-component"></app-menu>

  <h1 id="home-header">Home-Container Works</h1>

  <app-footer></app-footer>
</div>
-->
<div class="page-container">
  <h1 class="main-header">Astro Home</h1>
  <div id="main-content-container-home" class="main-content-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
      Lorem ipsum dolor sit samet, consectetur adipisicing elit. Quod totam mollitia culpa, rem illum voluptates adipisci, doloribus a deleniti enim officia ut. Aliquam accusantium ducimus autem numquam alias nesciunt iste.
    </p>
  </div>
</div>

