#main-login{
  position: relative;
  grid-row: 25/75;
  grid-column: 25/75;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  border: 10px groove var(--bs-purple);
  background-color: #0D6EFD66;
}






