<div class="page-container">
  <h1 class="main-header">User Login</h1>
  <main id="main-login" class="testing">
    <div class="col col-4">
      <app-login-form></app-login-form>
      <div class="row mb-4" aria-label="login button group">
        <button type="submit" for="loginForm" class="btn btn-outline-warning">Submit</button>
        <button type="button" class="btn btn-outline-warning">Forgot Password</button>
        <button type="button" class="btn btn-outline-warning">Register</button>
      </div>
    </div>
  </main>
</div>
